@model project_ver1.Models.ForgotPasswordViewModel
@{
    ViewData["Title"] = "忘記密碼";
}

<h2>忘記密碼</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <h5>請輸入您的帳號</h5>
        <h5 style="color:red">@ViewBag.ErrorMessage</h5>

        <input asp-for="Email" type="email" class="form-control" required placeholder="在此輸入您的e-mail信箱" />
 
    </div>
    <button type="submit" class="btn btn-primary">發送重設密碼連結到信箱</button>
</form>
