@model project_ver1.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "重設密碼";
}
<style>
    .form-control {
        margin-left: 300px;
        width: 50%;
        font-size: 25px;
        padding: 10px 8px;
        margin-bottom: 20px;
    }
</style>
<div class="container-md text-center">
    <h2>重設密碼</h2>

    <form asp-action="ResetPassword" method="post">
        <div class="form-group">
            <h5>您的帳號</h5>
            <input asp-for="Email" class="form-control" readonly />

        </div>
        <div class="form-group">
            <h5>請輸入新密碼</h5>
            <input asp-for="Password" class="form-control" required minlength="8" maxlength="20" pattern="^(?=.*\d)(?=.*[a-zA-Z]).{8,20}$" placeholder="請輸入8-20個數字及字母密碼" />


        </div>
        <button type="submit" class="btn btn-primary">重設密碼</button>
    </form>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        var message = '@Html.Raw(TempData["SuccessMessage"])';
        alert(message);
        window.location.href = "/Home/member";
    </script>
}
