@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Order Confirmation</h1>
    <p>Your order has been placed successfully!</p>
    @* <p>Order Number: @ViewBag.OrderNumber</p> *@
    <p>Thank you for shopping with us.</p>
</div>


